RewriteEngine On
RewriteBase /siademy/

# Ignora archivos o carpetas reales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todo a index.php
RewriteRule ^(.*)$ index.php [QSA,L]
